.navBar {
  width: 100%;
  background: @dominateColor;
  display: flex;
  justify-content: space-evenly;
  background: @dominateColor;
  padding: 20px 0px;

  nav {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 0px 20px 0px;
    border-bottom: solid @accent2 2px;
    span {
      width: 19%;
      text-align: center;
      cursor: pointer;
      padding: 5px 0px;
    } // span
    img {
      display: none;
    }
  } // nav
  @media (max-width: 500px) {
    nav {
      // position: fixed;
      // width: 100vw;
      // height: 100vh;
      // display: flex;
      // justify-content: flex-start;
      // align-items: center;
      // flex-direction: column;
      // background: rgba(4, 11, 13, 95%); // controlled with js
      // .homeBtn {
      //   display: flex;
      //   justify-content: space-between;
      //   align-items: center;
      //   width: 95%;
      //   // border-bottom: solid @accent1 2px;

      //   span {
      //     font-size: 1.6rem;
      //   }
      // }
      // img {
      //   width: 15%;
      //   display: block;
      // }
      align-items: flex-start;
      span {
        border-top: solid @accent1 1px;
        font-size: 0.7rem;
        width: 18%;
      }
    }

    .menu-items {
      // font-size: 1.6rem;
      // width: 95%;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // padding: 10px 0px;
      // border-top: solid @accent1 1px;
      // border-bottom: solid @accent1 2px;
      // display: none; // controlled with js
    }
  }
} // navbar
