body {
  background: @dominateColor;

  // width: 100%;
}
* {
  color: @white;
}
.App {
  // .shadeTopToBottom( @white, @white,100%);
  // background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
h1 {
  // font size
  width: 100%;
  text-align: center;
  font-size: @HeaderSize;
  font-family: @futura;
}
// h2 {
// font size
// }
h3 {
  // font size
  font-size: @MediumSize;
  font-family: @bodoni;
}

div,
p,
span,
input {
  // font size
  font-size: @RegularSize;
  font-family: @futura;
}
p {
  padding: 10px 0px;
}
a {
  font-size: @SmallSize;
}
// .bodoni {
//   font-family: @bodoni;
// }

// .garamond {
//   font-family: @garamond;
// }
