.emailExample3 {
  width: 60%;
  h3 {
    font-size: @HeaderSize;
    border-bottom: solid @accent1 2px;
    padding: 10px 0px;
    margin-bottom: 20px;
  } // h3
  p {
    padding: 10px 0px;
  } // p
  a {
    font-size: @RegularSize;
    padding: 5px 0px;
    color: @mainColor;
    button {
      color: @accent2;
    }
    :hover {
      background: @mainColor;
      color: @white;
    }
  } // a
  a:hover {
    color: @accent1;
  } // hover a
} // emailExample
