html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  margin: 0;
  font-size: 62.5%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Arapey';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arapey/v16/-W__XJn-UDDA2RC6Zw.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v16/co3bmX5slCNuHLi8bLeY9MK7whWMhyjorg.ttf) format('truetype');
}
@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oldstandardtt/v18/MwQubh3o1vLImiwAVvYawgcf2eVurQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/questrial/v18/QdVUSTchPBm7nuUeVf7EuQ.ttf) format('truetype');
}
/*
Beige: #EFF2D9 rgba(239, 242, 217, 1)
ViridianGreen: #0FA3B1 rgba(15, 163, 177,1)
Prussian Blue: #0B3142 rgba(11, 49, 66,1)
Chesnut: #9C3D2E rgba(156, 61, 46,1)
Rich Black FOGRA 39: #040B0D rgba(4, 11, 13,1)
*/
body {
  background: #040b0d;
}
* {
  color: #eff2d9;
}
.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-family: "Questrial", sans-serif;
}
h3 {
  font-family: "Arapey", serif;
}
div,
p,
span,
input {
  font-size: 1.1rem;
  font-family: "Questrial", sans-serif;
}
a {
  font-size: 0.9rem;
}
.bodoni {
  font-family: "Arapey", serif;
}
.garamond {
  font-family: "Cormorant Garamond", serif;
}
.navBar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: #040b0d;
  padding: 20px 0px;
}
.navBar nav {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 0px 20px 0px;
  border-bottom: solid #0b3142 2px;
}
.navBar nav a {
  width: 10%;
  text-align: center;
  padding: 5px 0px;
}
.introduction {
  background: #040b0d;
  width: 50%;
  height: auto;
  font-family: "Questrial", sans-serif;
  background: #9c3d2e;
  border-radius: 8px;
  padding: 20px 0px;
}
.emailExample1 {
  width: 60%;
}
.emailExample1 h3 {
  font-size: 2.4rem;
  border-bottom: solid #0fa3b1 2px;
  padding: 10px 0px;
  margin-bottom: 20px;
}
.emailExample1 p {
  padding: 10px 0px;
}
.emailExample1 a {
  font-size: 1.1rem;
  padding: 5px 0px;
  color: #9c3d2e;
}
.emailExample1 a:hover {
  color: #0fa3b1;
}
.emailExample2 {
  width: 60%;
}
.emailExample2 h3 {
  font-size: 2.4rem;
  border-bottom: solid #0fa3b1 2px;
  padding: 10px 0px;
  margin-bottom: 20px;
}
.emailExample2 p {
  padding: 10px 0px;
}
.emailExample2 p span {
  color: #0fa3b1;
}
.emailExample3 {
  width: 60%;
}
.emailExample3 h3 {
  font-size: 2.4rem;
  border-bottom: solid #0fa3b1 2px;
  padding: 10px 0px;
  margin-bottom: 20px;
}
.emailExample3 p {
  padding: 10px 0px;
}
.emailExample3 a {
  font-size: 1.1rem;
  padding: 5px 0px;
  color: #9c3d2e;
}
.emailExample3 a button {
  color: #0b3142;
}
.emailExample3 a :hover {
  background: #9c3d2e;
  color: #eff2d9;
}
.emailExample3 a:hover {
  color: #0fa3b1;
}
.emailExample4 {
  width: 60%;
}
.emailExample4 h3 {
  font-size: 2.4rem;
  border-bottom: solid #0fa3b1 2px;
  padding: 10px 0px;
  margin-bottom: 20px;
}
.emailExample4 p {
  padding: 10px 0px;
}
