html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  margin: 0;
  font-size: 62.5%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Arapey';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arapey/v16/-W__XJn-UDDA2RC6Zw.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v16/co3bmX5slCNuHLi8bLeY9MK7whWMhyjorg.ttf) format('truetype');
}
@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oldstandardtt/v18/MwQubh3o1vLImiwAVvYawgcf2eVurQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/questrial/v18/QdVUSTchPBm7nuUeVf7EuQ.ttf) format('truetype');
}
/*
Beige: #EFF2D9 rgba(239, 242, 217, 1)
ViridianGreen: #0FA3B1 rgba(15, 163, 177,1)
Prussian Blue: #0B3142 rgba(11, 49, 66,1)
Chesnut: #9C3D2E rgba(156, 61, 46,1)
Rich Black FOGRA 39: #040B0D rgba(4, 11, 13,1)
*/
body {
  background: #040b0d;
}
* {
  color: #eff2d9;
}
.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-family: "Questrial", sans-serif;
}
h3 {
  font-size: 1.6rem;
  font-family: "Arapey", serif;
}
div,
p,
span,
input {
  font-size: 1.1rem;
  font-family: "Questrial", sans-serif;
}
p {
  padding: 10px 0px;
}
a {
  font-size: 0.9rem;
}
.navBar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: #040b0d;
  padding: 20px 0px;
}
.navBar nav {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 0px 20px 0px;
  border-bottom: solid #0b3142 2px;
}
.navBar nav span {
  width: 19%;
  text-align: center;
  cursor: pointer;
  padding: 5px 0px;
}
.navBar nav img {
  display: none;
}
@media (max-width: 500px) {
  .navBar nav {
    align-items: flex-end;
  }
  .navBar nav span {
    text-align: left;
    width: 90%;
  }
  .navBar nav img {
    width: 15%;
    display: block;
  }
  .navBar .menu-items {
    display: none;
  }
}
.introduction {
  background: #040b0d;
  width: 50%;
  height: auto;
  font-family: "Questrial", sans-serif;
  background: #9c3d2e;
  border-radius: 8px;
  padding: 50px 4%;
}
.introduction header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introduction header ul {
  list-style-type: square;
}
.introduction header ul li {
  padding: 5px 0px;
}
.emailExample1 {
  width: 75%;
}
.emailExample1 h3 {
  font-size: 2.4rem;
  border-bottom: solid #0fa3b1 2px;
  padding: 10px 0px;
  margin-bottom: 20px;
}
.emailExample1 a {
  font-size: 1.1rem;
  padding: 5px 0px;
  color: #9c3d2e;
}
.emailExample1 a:hover {
  color: #0fa3b1;
}
@media (max-width: 500px) {
  .emailExample1 {
    width: 90%;
  }
}
.emailExample2 {
  width: 75%;
}
.emailExample2 h3 {
  font-size: 2.4rem;
  border-bottom: solid #0fa3b1 2px;
  padding: 10px 0px;
  margin-bottom: 20px;
}
.emailExample2 p span {
  color: #0fa3b1;
}
@media (max-width: 500px) {
  .emailExample2 {
    width: 90%;
  }
}
.emailExample3 {
  width: 75%;
}
.emailExample3 h3 {
  font-size: 2.4rem;
  border-bottom: solid #0fa3b1 2px;
  padding: 10px 0px;
  margin-bottom: 20px;
}
.emailExample3 a {
  font-size: 1.1rem;
  padding: 5px 0px;
  color: #9c3d2e;
}
.emailExample3 a button {
  color: #0b3142;
}
.emailExample3 a :hover {
  background: #9c3d2e;
  color: #eff2d9;
}
.emailExample3 a:hover {
  color: #0fa3b1;
}
@media (max-width: 500px) {
  .emailExample3 {
    width: 90%;
  }
}
.emailExample4 {
  width: 75%;
}
.emailExample4 h3 {
  font-size: 2.4rem;
  border-bottom: solid #0fa3b1 2px;
  padding: 10px 0px;
  margin-bottom: 20px;
}
.emailExample4 .modalSampleBtn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.emailExample4 .modalSampleBtn button {
  width: 20%;
  border: none;
  outline: none;
  background: #0fa3b1;
  padding: 10px 20px;
  margin: 20px 0px;
  border-radius: 8px;
  font-weight: 900;
}
@media (max-width: 500px) {
  .emailExample4 {
    width: 90%;
  }
  .emailExample4 .modalSampleBtn button {
    width: 100%;
    margin-bottom: 20px;
  }
}
.emailSample4Modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  background: rgba(4, 11, 13, 0.9);
}
.emailSample4Modal .formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 100vh;
}
.emailSample4Modal .inputContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
}
.emailSample4Modal .inputContainer .inputHolders {
  width: 48%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.emailSample4Modal .inputContainer .inputHolders span {
  padding: 0px 5px;
}
.emailSample4Modal .inputContainer .inputHolders input {
  width: 75%;
  background: #040b0d;
  border: none;
  border-bottom: solid #0b3142 2px;
  outline: none;
}
.emailSample4Modal .exit {
  display: flex;
  justify-content: flex-end;
}
.emailSample4Modal .exit span {
  padding: 5px 10px;
  cursor: pointer;
}
.emailSample4Modal .exit span:hover {
  color: #0fa3b1;
}
.emailSample4Modal .btmForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.emailSample4Modal .btmForm textarea {
  width: 95%;
  outline: none;
  border-radius: 8px;
  color: #eff2d9;
  padding: 10px;
  background: #0b3142;
  border: solid #0fa3b1 1px;
  font-size: 1.1rem;
  font-family: Helvetica, sans-serif;
  margin-bottom: 20px;
}
.emailSample4Modal .btmForm button {
  color: #eff2d9;
  font-weight: 900;
  margin: 20px 0px;
  padding: 10px 40px;
  outline: none;
  border-radius: 8px;
  border: none;
  background: #0fa3b1;
  cursor: pointer;
}
.emailSample4Modal .btmForm button:hover {
  color: #eff2d9;
  background: #9c3d2e;
}
@media (max-width: 500px) {
  .emailSample4Modal {
    background: rgba(4, 11, 13, 0.97);
  }
  .emailSample4Modal .formContainer {
    width: 90%;
  }
  .emailSample4Modal .formContainer .exit span {
    font-size: 2rem;
  }
  .emailSample4Modal .formContainer .inputContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .emailSample4Modal .formContainer .inputContainer .inputHolders {
    width: 100%;
    margin: 10px 0px;
  }
  .emailSample4Modal .formContainer .inputContainer .inputHolders input {
    width: 60%;
  }
  .emailSample4Modal .formContainer button {
    width: 100%;
  }
}
footer {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}
@media (max-width: 500px) {
  footer {
    width: 80%;
  }
  footer p,
  footer span {
    font-size: 0.7rem;
  }
}
